.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: auto;
  height: 400px;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
}
.textflow {
  display: flex;
  align-items:center;
  justify-content:space-between;
}
body {
  text-align: justify;
}
div {
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 20px;
  padding-top: 10px;
}
h1{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
figure {
  display: flex;
  width: auto;
  height: 300px;
  justify-content: space-between;
  background-color: grey;
  border-radius: 10px;
}
image :hover {
  width: auto;
  height: 2em;
}
.makeorder {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  list-style-type:none;
  padding-bottom: 30px;
}
.makeorderbtn {
  display: flex;
  justify-content: center;
}
.space {
  padding-top: 30px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}
body {
  font-family:Futura;
}

@font-face {
  font-family:'Futura';
  src: url('../Fonts/Futura_Book_font.ttf'), format("truetype");
  font-weight: normal;
  font-style: normal;
}
.col-item
{
    border: 2px solid #2323A1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}
.col-item:hover .info {
    background-color: rgba(215, 215, 244, 0.5); 
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #00990E;
}

.col-item .info .rating
{
    color: #003399;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #FFCCCC;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #CC9999;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}
video {
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0 auto;
  text-align: center;
}
p {
  text-align: center;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
